.footer{
    width: 100%;
    background-color: rgba(33, 33, 33, 1);
    padding: 80px 20px;
    color: white;
    .first-sec{
        height: 300px;
        hr{
            width: 95%;
            margin: auto;
            margin-bottom: 20px;
        }
        .mx-h{
            max-height: 400px;
            text-align: center;
            h2{
                margin-bottom: 20px;
            }
            li{
                list-style: none;
                margin-bottom: 10px;
            }
        }
    }
        .end-box{
            width: 95%;
            margin: auto;
            color: rgba(166, 166, 166, 1);
            .cop{
                padding-left: 20px
            }
            .end{
                text-align: center;
            }
        }
}