.h-banner{
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    h1{
        font-size: 5rem;
        margin: 15px;
    }
    button{
        font-size: 1.3rem;
        padding: 20px 30px;
        margin-top: 20px;
        background-color: rgba(63, 196, 255, 1);
        border: none;
        color: white;
    }
}